* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
  }
  h1 {
      text-align: center;
    margin-bottom: 15px;
  }
  div{
      padding: 10px;
  }
  .para{


    border: 2px solid rgb(0, 0, 0);
    background-color: #c5bcbc;
    width: 100%;
    font-family: Helvetica;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:20px;
    padding: 35px 20px 20px 20px;
    color: rgb(0, 0, 0);
  }
  .row {
    width: 90%;
  }

  @media (min-width: 991.51px) {
    .large {
      float: left;
      /*border: 1px solid green;*/
    }
    .large{
      width: 33.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991.5px) {
    .mediumfull,.mediumhalf {
      float: left;
     /* border: 1px solid green;*/
    }
    .mediumhalf{
      width: 50%;
    }
    .mediumfull{
      width: 100%;
    }
  
  }
.name{
    font-size: 18px;
    position: absolute;
  top: 10px;
  right: 10px;
    clear: both;
    width: 75px;
    height: auto;
    border: 2px solid black;
    
}
#r1,#r2,#r3{
    position: relative;
}
#ch{
    background-color: rgb(238, 59, 59);
    color: black;
}
#su{
    background-color: rgb(235, 238, 85);
    color: black;
}
#be{
    background-color: rgb(245, 172, 77);
    color: black;
}